<h3 id="missions">Upcoming Missions</h3>
<section id="card-section">
    {{#each data}}
    <div id="card">
        <div id="card-title">{{this.missionName}}</div>
        <div id="card-body">
            <p>
                {{this.aboutMission}}
            </p>
    </div>
    <div id="launch-date"><p>Launch Date: {{this.launchDate}}</p></div>
        {{!-- <button type="button" id="card-button">Click Me!</button> --}}
        <a href="/mission/{{this.id}}" id="card-button">Mission Details</a>
    </div>
    {{/each}}
</section>
