<section id="user-mission-search">
    <form method="POST" action="user/lookup/mission" id="user-mission-search-form">
        <input type="text" name="missionName" id="missionName" placeholder="Search by mission name" required>
        <button type="submit" id="user-mission-search-submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>    
    </form>
</section>
<h3 id="missions">Upcoming Missions</h3>
<section id="card-section">
    {{#each data}}
    <div id="card">
        <div id="card-title">{{this.missionName}}</div>
        <div id="card-body">
            <p>
                {{this.aboutMission}}
            </p>
    </div>
    <div id="launch-date"><p>Launch Date: {{this.launchDate}}</p></div>
        {{!-- <button type="button" id="card-button">Click Me!</button> --}}
        <a href="/mission/{{this.id}}" id="card-button">Mission Details</a>
    </div>
    {{/each}}
</section>
