<h3>Edit your investment of {{data.investmentAmount}}</h3>
<!--<h3>Edit your investment in the {{missionName}} mission<h3> -->
<form method="POST" action="/investment/edit" id = "add-investment-form">
<input type="number" name="investmentAmount" id="investmentAmount" value="{{data.investmentAmount}}">

    <input type="hidden" id="investmentID" name="investmentID" value="{{data.id}}">

    <section id="edit-investment-form-btn">
        <input type="submit" value="Save" id="edit-investment-save">
        <input type="button" value="Cancel" id="edit-investment-cancel" onclick="cancelInvestmentEdit()">
    </section>
</form>