<h3 id="mission-details">About {{data.missionName}}</h3>
<div id="launch-date"><p>Launch Date: {{data.launchDate}}</p></div>
<div id="details-about">
    <p>
        {{data.aboutMission}}
    </p>
</div>
<a href="/invest/{{data.id}}" id="details-invest-btn">Invest</a>

